/*global*/
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
p{
    line-height: 2;
}
h1,h2{
    text-align: center;
    padding: 20px;
}
h3{
    padding-top: 10px;
    padding-bottom: 10px;
}
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
nav{
    font-weight: 400;
}
nav a{
    margin-right: 15px;
}
/*utilities*/
.container{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
.flex-container-t{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}
.btn{
    display: block;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 10px;
}
.btn-more{
    background-color: black;
    width: 20%;
}
.btn-more-info{
    background-color: brown;
    width: 35%;
}
.font1{
    font-weight: 100;
}
.font2{
    font-weight: 400;
}
.font3{
    font-weight: 500;
}
/*header*/
header{
    background-image: url(./img/banner.jpg);
    background-position: center center;
    background-size: cover;
    height: 350px;
    text-align: center;
}
header h1{
    color: white;
}
header p{
    color: white;
}
header a{
    color: white;
}
/*footer*/
footer{
    background-color: black;
    background-position: center center;
    background-size: cover;
    height: 125px;
    font-family: 'Roboto';
    margin-top: 50px;
}
footer h2{
    color: white;
}
footer nav{
    text-decoration: none;
}
footer a{
    color: white;
    letter-spacing: 2px;
    font-size: 14px;
}
.flex-container{
    display: flex;
    justify-content:space-evenly;
    font-weight: bold;
    align-items: center;
}